.reactMarkdown h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.reactMarkdown h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.reactMarkdown h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.reactMarkdown ul li {
  list-style-type: disc;
  margin-left: 1rem;
}

.reactMarkdown ol li {
  list-style-type: decimal;
  margin-left: 1rem;
}

.reactMarkdown p,
.reactMarkdown ul,
.reactMarkdown ol {
  margin-block: 0.6rem;
}
